/* Placeholder categorie */
.category-placeholder {
    background-color: #f1f3f5;
    height: 180px;
}

/* Placeholder prodotti */
.product-placeholder {
    background-color: #f1f3f5;
    height: 180px;
}

/* Card statiche welcome */
a .card:hover {
    transform: translateY(-2px);
    transition: 0.15s ease-in-out;
}
