/* BODY */
body {
    background-color: #f5f7fa;
}

section {
    margin-bottom: 30px;
}

/* HERO (Homepage) */
.hero-box {
    background: linear-gradient(135deg, #ffffff, #f1f3f5);
}

/* CARD (globali) */
.card {
    transition: all 0.2s ease-in-out;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

a:hover .card {
    transform: translateY(-2px);
    transition: 0.15s ease-in-out;
}

/* PRODOTTI */
.product-placeholder {
    background-color: #f1f3f5;
    height: 180px;
}

.product-image {
    height: 180px;
    width: 100%;
    object-fit: contain;
    background-color: #f8f9fa;
}

.product-show-image {
    width: 100%;
    max-height: 400px;
    object-fit: contain;
    background-color: #f8f9fa;
}

/* CATEGORIE (Homepage) */
.category-placeholder {
    background-color: #f1f3f5;
    height: 180px;
}

.category-image {
    height: 180px;
    width: 100%;
    object-fit: cover;
}

/* ADMIN - CATEGORIE */
.category-thumb {
    width: 70px;
    height: 70px;
    object-fit: cover;
}

.category-thumb-placeholder {
    width: 70px;
    height: 70px;
}

.category-preview {
    max-width: 200px;
}
