/* Placeholder categorie */
.category-placeholder {
    background-color: #f1f3f5;
    height: 180px;
}

/* Placeholder prodotti */
.product-placeholder {
    background-color: #f1f3f5;
    height: 180px;
}
